<!DOCTYPE html>
<html layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
    <style>
    .imgBox{
		cursor: pointer;
		width:300px;
		height: 208px;     
    }
    </style>
</head>
<body>
<section layout:fragment="content">
	<div id="equipment" class="row" style="opacity: 1">
		  <div class="col-12 grid-margin">
		  	<div class="card">
		  		<!-- 12.5% -->
		  		<div class="icons-list row">
                      <div onclick="editMenuFn(this)" data-type="crop"  style="padding: 0" class="col-sm-6 col-md-4 col-lg-1"><i class="mdi mdi-crop"></i></div>
                      <div onclick="editMenuFn(this)" data-type="rotate"  style="padding: 0" class="col-sm-6 col-md-4 col-lg-1"><i class="mdi mdi-format-rotate-90"></i></div>
                      <div onclick="editMenuFn(this)" data-type="center"  style="padding: 0" class="col-sm-6 col-md-4 col-lg-1"><i class="mdi mdi-image-filter-center-focus-weak"></i></div>
                      <div onclick="editMenuFn(this)" data-type="horizontal"  style="padding: 0" class="col-sm-6 col-md-4 col-lg-1"><i class="mdi mdi-format-horizontal-align-center"></i></div>
                      <div onclick="editMenuFn(this)" data-type="vertical"  style="padding: 0" class="col-sm-6 col-md-4 col-lg-1"><i class="mdi mdi-format-vertical-align-center"></i></div>
                      <div onclick="editMenuFn(this)" data-type="eyedropper"  style="padding: 0" class="col-sm-6 col-md-4 col-lg-1"><i class="mdi mdi-eyedropper-variant"></i></div>
                      <div onclick="editMenuFn(this)" data-type="palette"  style="padding: 0" class="col-sm-6 col-md-4 col-lg-1"><i class="mdi mdi-palette"></i></div>
                      <div onclick="editMenuFn(this)" data-type="filter"  style="padding: 0" class="col-sm-6 col-md-4 col-lg-1"><i class="mdi mdi-filter"></i></div>
                </div>
		  	</div>
		  </div>
	</div>
	
	
	<div class="row  d-flex align-items-stretch grid-margin">
		<div class="col-md-6">
			<div class="card">
				<div class="card-body">
				 	<div class="form-group" style="margin-bottom: 0;">
						<img id="img1" class="imgBox" th:src="@{/images/no-image-found.png}" alt="img1" onclick="imgChangeFn('1')"/>
						<input id="imgFile1" onchange="readURL(this);"  type="file" style="display: none;"/>
						<img id="img2" class="imgBox" th:src="@{/images/no-image-found.png}" alt="img2" onclick="imgChangeFn('2')"/>
						<input id="imgFile2" onchange="readURL(this);" type="file" style="display: none;"/>
				 	</div>
				 	
				 	<div class="form-group">
				 		<img id="img3" class="imgBox" th:src="@{/images/no-image-found.png}" alt="img3" onclick="imgChangeFn('3')"/>
				 		<input id="imgFile3" onchange="readURL(this);" type="file" style="display: none;"/>
					 	<img id="img4" class="imgBox" th:src="@{/images/no-image-found.png}" alt="img4" onclick="imgChangeFn('4')"/>
					 	<input id="imgFile4" onchange="readURL(this);" type="file" style="display: none;"/>
				 	</div>
				 	
				 	<button type="button" class="btn btn-success mr-2">저장</button>
				 		
				</div>
			</div>
		</div>
		
		<div class="col-md-6">
			<div class="card">
				<div class="card-body" style="height: 526.06px">
					<!-- /api/v1/stream/ -->
				 	<video src="" controls="controls" autoplay="autoplay" muted="muted" loop="loop" width="325" height="225"></video>
				</div>
			</div>
		</div>
		
	</div>

<script>

function editMenuFn(_e){
	//data-type
	$this = _e;
	console.info("$this",$this);
	alert("준비중");
}

function imgChangeFn(elNum){
	$("#imgFile"+elNum).trigger( 'click' );
}

function readURL(input) {
	var reader = new FileReader();
	    reader.onload = function(e) {
	    	var targetNum = input.id.replace("imgFile","");
	      $(`#img${targetNum}`).attr('src', e.target.result);
	    };
	    reader.readAsDataURL(input.files[0]);
	return true;
}

function save(){
	
	return true;
}

function editForm(_flag){
	if(_flag){
		
	}else{
		
	}
}



</script>

</section>



</body>
</html>
