<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head>
    <title>Home</title>
<style>
	.templateDiv{
		cursor: pointer;
	}

	.templateDiv > div:hover{
		border : 2px #5aff4c solid;
	}
	
	.templateDiv > div:active{
		background-color: #baffb5;
	}
	

</style>
</head>
<body>
<section layout:fragment="content">
	
    <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card templateDiv" onclick="createTemplateFn('1')">
            <div class="card card-statistics">
                <div class="card-body">
                    <div class="clearfix">
                        <div class="float-left">
                            <i class="mdi mdi-cube text-danger icon-lg"></i>
                        </div>
                        <div class="float-right">
                            <p class="mb-0 text-right">템플릿 1</p>
                            <div class="fluid-container">
                                <h3 class="font-weight-medium text-right mb-0">미디어 병합</h3>
                            </div>
                        </div>
                    </div>
                    <p class="text-muted mt-3 mb-0">
                        <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i> 사진 및 병합 한 스크린으로 병합
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card templateDiv"  onclick="createTemplateFn('2')">
            <div class="card card-statistics">
                <div class="card-body">
                    <div class="clearfix">
                        <div class="float-left">
                            <i class="mdi mdi-receipt text-warning icon-lg"></i>
                        </div>
                        <div class="float-right">
                            <p class="mb-0 text-right">템플릿 2</p>
                            <div class="fluid-container">
                                <h3 class="font-weight-medium text-right mb-0">QR code  추가</h3>
                            </div>
                        </div>
                    </div>
                    <p class="text-muted mt-3 mb-0">
                        <i class="mdi mdi-bookmark-outline mr-1" aria-hidden="true"></i> 동영상에 원하는 URL QR Code 삽입
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card templateDiv" onclick="createTemplateFn('3')">
            <div class="card card-statistics">
                <div class="card-body">
                    <div class="clearfix">
                        <div class="float-left">
                            <i class="mdi mdi-poll-box text-success icon-lg"></i>
                        </div>
                        <div class="float-right">
                            <p class="mb-0 text-right">템플릿 3</p>
                            <div class="fluid-container">
                                <h3 class="font-weight-medium text-right mb-0">페이드 효과</h3>
                            </div>
                        </div>
                    </div>
                    <p class="text-muted mt-3 mb-0">
                        <i class="mdi mdi-calendar mr-1" aria-hidden="true"></i> 사진 병합 및 xFade Effect
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card templateDiv" onclick="alert('준비중 입니다.')">
            <div class="card card-statistics">
                <div class="card-body">
                    <div class="clearfix">
                        <div class="float-left">
                            <i class="mdi mdi-account-location text-info icon-lg"></i>
                        </div>
                        <div class="float-right">
                            <p class="mb-0 text-right">BSET</p>
                            <div class="fluid-container">
                                <h3 class="font-weight-medium text-right mb-0">템플릿 4</h3>
                            </div>
                        </div>
                    </div>
                    <p class="text-muted mt-3 mb-0">
                        <i class="mdi mdi-reload mr-1" aria-hidden="true"></i> 준비중 입니다.
                    </p>
                </div>
            </div>
        </div>
    </div>
	
<script>
	$(".templateDiv").on({ 
		mouseover: function(e) {
			console.log(e);
		},
		mouseleave: function(e) {
			console.log(e);
			e.currentTarget
		}
	});
	
	function createTemplateFn(_query){
			if(_query === null || _query === undefined) return false;
			window.location.href=`/pages/templateEdit/${_query}`; 
	}
		
		
</script>
</section>
</body>

</html>


